<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.counterfraud">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 读取手机状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读content的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.OpenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity"/>
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.MainActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".ui.activity.PersonActivity"/>
        <activity android:name=".ui.activity.PasswordActivity"/>
        <activity android:name=".ui.activity.UserAddMessageActivity"/>
        <activity android:name=".ui.activity.UserMessageActivity"/>
        <activity android:name=".ui.activity.AdminMessageActivity"/>
        <activity android:name=".ui.activity.AboutActivity"/>
        <activity android:name=".ui.activity.ForgetActivity"/>
        <activity android:name=".ui.activity.AddCommunityActivity"/>
        <activity android:name=".ui.activity.MyCommunityActivity"/>
        <activity android:name=".ui.activity.CommunityDetailActivity"/>
        <activity android:name=".ui.activity.VideoActivity"/>
        <activity android:name=".ui.activity.NewsDetailActivity"/>
        <activity android:name=".ui.activity.KnowledgeDetailActivity"/>
        <activity android:name=".ui.activity.InterceptActivity"/>
        <activity android:name=".ui.activity.VerifyActivity"/>
        <activity android:name=".ui.activity.BlacklistActivity"/>
        <activity android:name=".ui.activity.AddBlacklistActivity"/>
        <activity android:name=".ui.activity.ReportActivity"/>
        <activity android:name=".ui.activity.AddReportActivity"/>
    </application>

</manifest>